@{
    ViewData["Title"] = "Le Nostre Pizze";
}

<section class="wrapper">
<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-white card-has-bg click-col">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0 ">Diavola</h4>
                        <h4 class="card-title mt-0 ">Piazz con salame piccante</h4>
                    </div>
                    <div class="card-footer">
                        <h4>6.99$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-white card-has-bg click-col">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0 ">Diavola</h4>
                        <h4 class="card-title mt-0 ">Piazz con salame piccante</h4>
                    </div>
                    <div class="card-footer">
                        <h4>6.99$</h4>
                    </div>
                </div>
            </div>
        </div><div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-white card-has-bg click-col">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0 ">Diavola</h4>
                        <h4 class="card-title mt-0 ">Piazz con salame piccante</h4>
                    </div>
                    <div class="card-footer">
                        <h4>6.99$</h4>
                    </div>
                </div>
            </div>
        </div><div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-white card-has-bg click-col">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0 ">Diavola</h4>
                        <h4 class="card-title mt-0 ">Piazz con salame piccante</h4>
                    </div>
                    <div class="card-footer">
                        <h4>6.99$</h4>
                    </div>
                </div>
            </div>
        </div><div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-white card-has-bg click-col">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0 ">Diavola</h4>
                        <h4 class="card-title mt-0 ">Piazz con salame piccante</h4>
                    </div>
                    <div class="card-footer">
                        <h4>6.99$</h4>
                    </div>
                </div>
            </div>
        </div><div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-white card-has-bg click-col">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0 ">Diavola</h4>
                        <h4 class="card-title mt-0 ">Piazz con salame piccante</h4>
                    </div>
                    <div class="card-footer">
                        <h4>6.99$</h4>
                    </div>
                </div>
            </div>
        </div>
        
  
    </div>
  
</div>
</section>

